location=

functionAppResourceGroup=
functionAppName=

cdnSubscriptionId=
cdnResourceGroup=
cdnProfileName=
cdnEndpointName=

storageSubscriptionId=
storageResourceGroup=
storageAccountName=
storageContainerName=

